#sc-wrap {width: 100%; font-family: sans-serif;	margin: auto;}
#sc-top {overflow: hidden;}
#sc-top > a {float: left; width: 25%; height: 135px; text-decoration: none;	font-size: 18px; font-weight: bold;
text-align: center;	background-position: bottom center;	background-repeat: no-repeat;	transition: color 0.5s;}
#sc-top > a > h2 {color: #434343; padding:20px 0 12px 0; margin-bottom: 12px;	font-size: 15px;}
#sc-top > a.active > h2 {color: #9e3839;}
#sc-top > a.active {color: #9b0b20;}
#sc-top > a > .sc-circle {width: 5px; height: 5px; border-radius: 50%; background-color: #898989; margin: auto;	margin-top: -15px;
margin-bottom: 15px; transition: background-color 0.25s, height 0.25s, width 0.25s, margin 0.25s, border-radius 0.5s;}
#sc-top > a.active > .sc-circle, #sc-top > a:hover > .sc-circle { background-color: #9b0b20; height: 5px; width: 5px; margin-top: -15px;
margin-bottom: 15px;}
#sc-top > a.active > .sc-circle {border-radius: 0;}
#sc-top a.sc-living-room {background:url(../images/l-r.png) no-repeat center top;}
#sc-top a.sc-living-room.active {background:url(../images/l-r-r.png) no-repeat center top; outline:0}
#sc-top a.sc-bedroom {background:url(../images/b.png) no-repeat center top;}
#sc-top a.sc-bedroom.active {background:url(../images/b-r.png) no-repeat center top; outline:0}
#sc-top a.sc-dining-room {background:url(../images/k&dr.png) no-repeat center top;}
#sc-top a.sc-dining-room.active {background:url(../images/k&dr-r.png) no-repeat center top; outline:0}
#sc-top a.sc-misc {background:url(../images/m.png) no-repeat center top;}
#sc-top a.sc-misc.active {background:url(../images/m-r.png) no-repeat center top; outline:0;}
#sc-slider {clear: left; height: 11px;}
#sc-slider #sc-up-arrow {background:#f68b1e; width:40px; height:40px; transform:rotate(-45deg); margin:0 auto; border:1px solid #f68b1e; transition: margin-left 0.5s;}
#sc-slider.sc-living-room #sc-up-arrow {margin-left: 10%;}
#sc-slider.sc-bedroom #sc-up-arrow {margin-left: 37%;}
#sc-slider.sc-dining-room #sc-up-arrow {margin-left: 62%;}
#sc-slider.sc-misc #sc-up-arrow {margin-left: 87%;}
#sc-middle {height:177px; line-height: normal;	padding-top: 2px; padding-bottom: 26px;	font-size: 15px; color: #f1f2f7; overflow: hidden;}
#sc-middle #left-arrow, #sc-middle #right-arrow {text-decoration: none;	font-size: 100px; font-weight: bold; color: #afafaf; font-family: Arial; padding: 19px 25px; z-index: 10;	position: relative;}
#sc-middle #left-arrow-wrap:hover #left-arrow, #sc-middle #right-arrow-wrap:hover #right-arrow {color: #9b0b20;}
#sc-middle #left-arrow {float: left; transition: margin 0.1s;}
#sc-middle #left-arrow-wrap:hover #left-arrow {margin-left: -5px; margin-right: 5px;}
#sc-middle #right-arrow {float: right; transition: margin 0.1s;}
#sc-middle #right-arrow-wrap:hover #right-arrow {margin-left: 5px; margin-right: -5px;}
#sc-middle #sc-slide-wrap {position: relative; height:177px; overflow: hidden;}
#sc-middle #sc-slide-wrap > div {display: none;	position: absolute;	width: 100%;}
#sc-middle .sc-col{	float: left; width: 25%;}
#sc-middle .sc-col > div{margin-top: 5px;}
.sc-col label{ font-weight:normal;}
#sc-middle .plus, #sc-middle .minus {color: #000000; font-size:20px; text-decoration: none;	padding: 0 5px;	cursor: pointer;}
#sc-middle .plus:hover, #sc-middle .minus:hover {color: #333;}
#sc-middle input {width: 46px; height:28px; padding: 0 5px; margin: 0 5px; font-size: 15px; border:1px solid #c4c5a6; border-radius:3px; color:#000000;}
#sc-rent {height: 13px;	background-color: #ededed; text-align: center;}
#sc-bottom {text-align: center !important; color: #898989; font-size: 16px;	border-top: 13px solid #ededed;}
#sc-bottom p {height: 100px; text-align: center !important;	padding-bottom: 0; margin-bottom: 0;}
#sc-bottom #sc-button {display: block; font-family: 'Yanone Kaffeesatz', sans-serif; width: 209px;
	height: 48px;
	line-height: 48px;
	font-size: 30px;
	color: white;
	text-decoration: none;
	background-color: #9b0b20;
	border-radius: 5px;
	box-shadow: 0 5px 10px #898989;
	margin: auto;
	margin-top: -32px;
	margin-bottom: 32px;
	transition: margin 0.1s, box-shadow 0.1s, text-shadow 1s;

	/* IE10 Consumer Preview */ 
	background-image: -ms-linear-gradient(left, #9b0b20 0%, #b81e2d 50%, #9b0b20 100%);
	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(left, #9b0b20 0%, #b81e2d 50%, #9b0b20 100%);
	/* Opera */ 
	background-image: -o-linear-gradient(left, #9b0b20 0%, #b81e2d 50%, #9b0b20 100%);
	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #9b0b20), color-stop(0.5, #b81e2d), color-stop(1, #9b0b20));
	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(left, #9b0b20 0%, #b81e2d 50%, #9b0b20 100%);
	/* W3C Markup, IE10 Release Preview */ 
	background-image: linear-gradient(to right, #9b0b20 0%, #b81e2d 50%, #9b0b20 100%);
}
#sc-bottom #sc-button:hover {
	box-shadow: 0 3px 3px #898989;
	margin-top: -30px;
	margin-bottom: 30px;
	text-shadow: 0 0 5px rgba(255,255,255,0.5);
}
#sc-bottom #sc-size {
	font-family: 'Ubuntu';
	margin-top: 0;
	margin-bottom: 0;
	color: #9b0b20;
	font-size: 120px;line-height: 100px;
	font-weight: bold;
	text-shadow: 0 0 10px rgba(0,0,0,0.25);
	text-shadow: 0 0 10px #898989, -1px -1px 1px #898989, 1px -1px 1px #898989, -1px 1px 1px #898989, 1px 1px 1px #898989;
	transition: text-shadow 1s;
}
#sc-bottom #sc-button:hover + #sc-size {
	text-shadow: 0 0 10px #9b0b20, -1px -1px 1px #9b0b20, 1px -1px 1px #9b0b20, -1px 1px 1px #9b0b20, 1px 1px 1px #9b0b20;
}
#sc-bottom #sc-size-fill {
	font-family: 'Ubuntu';
    overflow: hidden;
    border-bottom: 1px solid #b2b2b2;
    height: 100px;
    color: #d2d2d2;
    font-size: 120px;
    line-height: 100px;
	font-weight: bold;
	margin-top: -100px;
	box-shadow: 0 5px 5px rgba(0,0,0,0.125);
	transition: height 0.3s, margin 0.3s, border-color 1s, box-shadow 1s;
}

#sc-bottom #sc-progress {
	width: 192px;
	height: 16px;
	margin: auto;
	margin-top: 8px;
	background-color: #898989;
	border-radius: 10px;
	overflow: hidden;
}
#sc-bottom #sc-bar {
	background-color: #9b0b20;
	width: 0%;
	height: 100%;
}
/*#sc-rent a:before, #sc-rent a:after 
{
  z-index: -1; 
  position: absolute; 
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%; 
  top: 80%;
  max-width:300px;
  background: rgba(0, 0, 0, 0.7); 
  -webkit-box-shadow: 0 15px 10px rgba(0,0,0, 0.7);   
  -moz-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
  -webkit-transform: rotate(-3deg);    
  -moz-transform: rotate(-3deg);   
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}

#sc-rent a:after 
{
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}*/
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
input[type=number] {
	-moz-appearance:textfield;
}

/* Responsive */
@media all and (max-width: 890px) {
	#sc-middle,
	#sc-middle #sc-slide-wrap {
		height: 210px;
	}
	#sc-wrap label {
		display: block;
	}
}
@media all and (max-width: 815px) {
	#sc-wrap .hide-800 {
		display: none;
	}
}
@media all and (max-width: 650px) {
	#sc-middle #left-arrow,
	#sc-middle #right-arrow {
		padding: 25px 0;
	}
}
@media all and (max-width: 480px) {
	#sc-wrap label {
		text-align: center;
		font-size: 10px;
		white-space: nowrap;
	}
}
@media all and (max-width: 450px) {
	#sc-top > a {
		font-size: 12px;
	}
	#sc-top > a > h2 {
		font-size: 12px;
	}
}
@media all and (max-width: 375px) {
	#sc-wrap label {
		height: 26px;
		width: 26px;
		white-space: normal;
	}
	#sc-middle,
	#sc-middle #sc-slide-wrap {
		height: 270px;
	}
	#sc-middle {
		margin-top:0px;
	}
	#sc-bottom {
		margin-top: -478px;
		margin-bottom: 216px;
	}
	#sc-middle .plus,
	#sc-middle .minus {
		font-weight: bold;
		font-size: 16px;
		line-height: 12px;
		padding: 0 8px;
	}
	input {
		font-size: 16px;
	}
}