/* Copyright: Guillermo Rauch <http://devthought.com/> - Distributed under MIT - Keep this message! */

/* TextboxList sample CSS */
ul.holder{border: 1px solid #999; margin: 0; background:#ffffff;}
ul.contentholder{margin-top:30px;}
ul.holder, ul.contentholder { overflow: hidden; height: auto !important; height: 1%; padding: 4px 5px 0; border-radius:4px; }
*:first-child+html ul.holder, *:first-child+html ul.contentholder { padding-bottom: 2px; } * html ul.holder, * html ul.contentholder { padding-bottom: 2px; } /* ie7 and below */
ul.holder li, ul.contentholder li { float: left; list-style-type: none; margin: 8px 5px 8px 0; white-space:nowrap;}
ul.holder li.bit-box, ul.holder li.bit-input input, ul.contentholder li.bit-box { font-size: 11px; }
ul.holder li.bit-box, ul.contentholder li.bit-box { -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; border: 1px solid #CAD8F3; background: #d7d6d6; padding:10px 38px; margin:1px 10px 9px 0; font-size:14px; }
ul.holder li.bit-box-focus, ul.contentholder li.bit-box-focus { border-color: #598BEC; background: #598BEC; color: #fff; }
ul.holder li.bit-input input { width: auto; overflow:visible; margin: 0; border: 0px; outline: 0; padding: 3px 0px 2px; background:none; } /* no left/right padding here please */
ul.holder li.bit-input input.smallinput { width: 20px; }

/* Facebook demo CSS */
ul.holder { margin: 0 !important }
ul.holder li.bit-box, #apple-list ul.holder li.bit-box, ul.contentholder li.bit-box, #apple-list ul.contentholder li.bit-box { padding-right: 20px; position: relative; z-index:1000;}
#apple-list ul.holder li.bit-input { margin: 0; }
#apple-list ul.holder li.bit-input input.smallinput { width: 5px; }
ul.holder li.bit-hover, ul.contentholder li.bit-hover { background: #BBCEF1; border: 1px solid #6D95E0; }
ul.holder li.bit-box-focus, ul.contentholder li.bit-box-focus { border-color: #598BEC; background: #598BEC; color: #fff; }
ul.holder li.bit-box a.closebutton, ul.contentholder li.bit-box a.closebutton { position: absolute; left: 4px; top: 12px; display: block; width: 15px; height: 15px; font-size: 1px; background: url('../images/x.png'); margin:0 7px; }
/*ul.holder li.bit-box a.closebutton:hover { background-position: 7px; }
ul.holder li.bit-box-focus a.closebutton, ul.holder li.bit-box-focus a.closebutton:hover { background-position: bottom; }*/

/* Autocompleter */

.facebook-auto { display: none; position: absolute; background: #eee; z-index:1001;}
.facebook-auto .select_all_items {display: block; float: right;}
.facebook-auto .default { padding: 5px 7px; border: 1px solid #ccc; border-width: 0 1px 1px;font-family:"Lucida Grande","Verdana"; font-size:11px; }
.facebook-auto ul { display: none; margin: 0; padding: 0; overflow: auto; position:absolute; z-index:9999; width:inherit!important;}
.facebook-auto ul li { padding: 5px 12px; z-index: 1000; cursor: pointer; margin: 0; list-style-type: none; border: 1px solid #ccc; border-width: 0 1px 1px; font: 11px "Lucida Grande", "Verdana"; background-color: #eee }
.facebook-auto ul li em { font-weight: bold; font-style: normal; background: #ccc; }
.facebook-auto ul li.auto-focus { background: #4173CC; color: #fff; }
.facebook-auto ul li.auto-focus em { background: none; }
.deleted { background-color:#4173CC !important; color:#ffffff !important;}
.hidden { display:none;}

#demo ul.holder li.bit-input input { padding: 2px 0 1px; border: 1px solid #999; }
.ie6fix {height:1px;width:1px; position:absolute;top:0px;left:0px;z-index:1;}
.circular {
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	}