@charset "utf-8";
/* CSS Document */
html {
    font-size: 14px!important;
}
.fbox {
	background-color:#EEEEEE;
	height:auto;
	
	
}
.rightm
{
	margin-right:2%;
}
.leftm
{
	margin-left:17%;
}
.pleft
{
	margin-left:17%;
}
.topmargin
{
	margin-top:3%;
	
}
.main
{
	width:95%;
	margin-left:3%;
}
.hright
{
	margin-right:24%;
}
.hleft
{
	margin-left:1%;
}
.hinput
{
	height:30px;
}
.globalmargin
{
	margin-left:5px;
	margin-right:5px;
}
.menubutton
{
	width:100%;
	text-align:left;
	margin-bottom:5px;
}
/* Vertical Menu */
#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#cssmenu {
  width: 180px;
  font-family: Helvetica, Arial, sans-serif;
  color: #ffffff;
}
#cssmenu ul ul {
  display: none;
}
.align-right {
  float: right;
}
#cssmenu > ul > li > a {
  background: linear-gradient(#337ab7, #337ab7) repeat scroll 0 0 rgba(0, 0, 0, 0);
  border-left: 1px solid #337ab7;
  border-radius: 2px;
  border-right: 1px solid #337ab7;
  border-top: 1px solid #337ab7;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15) inset;
  color: #ffffff;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  padding: 15px 20px;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.35);
  z-index: 2;
}
#cssmenu > ul > li > a:hover,
#cssmenu > ul > li.active > a,
#cssmenu > ul > li.open > a {
  color: #eeeeee;
  background: #1fa0e4;
  background: -webkit-linear-gradient(#337ab7, #337ab7);
  background: -moz-linear-gradient(#337ab7, #337ab7);
  background: -o-linear-gradient(#337ab7, #337ab7);
  background: -ms-linear-gradient(#337ab7, #337ab7);
  background: linear-gradient(#337ab7, #337ab7);
}
#cssmenu > ul > li.open > a {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.15);
  border-bottom: 1px solid #1682ba;
}
#cssmenu > ul > li:last-child > a,
#cssmenu > ul > li.last > a {
  border-bottom: 1px solid #1682ba;
}
.holder {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  right: 0;
}
.holder::after,
.holder::before {
  display: block;
  position: absolute;
  content: "";
  width: 6px;
  height: 6px;
  right: 20px;
  z-index: 10;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.holder::after {
  top: 17px;
  border-top: 2px solid #ffffff;
  border-left: 2px solid #ffffff;
}
#cssmenu > ul > li > a:hover > span::after,
#cssmenu > ul > li.active > a > span::after,
#cssmenu > ul > li.open > a > span::after {
  border-color: #eeeeee;
}
.holder::before {
  top: 18px;
  border-top: 2px solid;
  border-left: 2px solid;
  border-top-color: inherit;
  border-left-color: inherit;
}
#cssmenu ul ul li a {
  background: none repeat scroll 0 0 #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset;
  color: #282828;
  cursor: pointer;
  font-size: 13px;
  padding: 10px 20px;
  text-decoration: none;
  z-index: 1;
}
#cssmenu ul ul li:hover > a, #cssmenu ul ul li.open > a, #cssmenu ul ul li.active > a {
  background: none repeat scroll 0 0 #E0E0E0;
  color: #000000;
}
#cssmenu ul ul li:first-child > a {
  box-shadow: none;
}
#cssmenu ul ul ul li:first-child > a {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
}
#cssmenu ul ul ul li a {
  padding-left: 30px;
}
#cssmenu > ul > li > ul > li:last-child > a,
#cssmenu > ul > li > ul > li.last > a {
  border-bottom: 0;
}
#cssmenu > ul > li > ul > li.open:last-child > a,
#cssmenu > ul > li > ul > li.last.open > a {
  border-bottom: 1px solid #32373e;
}
#cssmenu > ul > li > ul > li.open:last-child > ul > li:last-child > a {
  border-bottom: 0;
}
#cssmenu ul ul li.has-sub > a::after {
  display: block;
  position: absolute;
  content: "";
  width: 5px;
  height: 5px;
  right: 20px;
  z-index: 10;
  top: 11.5px;
  border-top: 2px solid #eeeeee;
  border-left: 2px solid #eeeeee;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
#cssmenu ul ul li.active > a::after,
#cssmenu ul ul li.open > a::after,
#cssmenu ul ul li > a:hover::after {
  border-color: #ffffff;
}
/* Vertical Menu End */
.vcolor
{
	color:#000;
}
.main2 {
  margin-left: 35%;
  margin-top: 4%;
  width: 30%;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
   box-shadow: 1px 2px 12px 0px rgba(0,0,0,0.75);
   background-color:#FFFFFF;
   border: 2px solid;
   border-color:#eeeeee;
   border-collapse:collapse;
   border-radius:3px;
}
.loginlogo
{
	margin-top:10%;
}
.buttonwidth
{
	width:30%;
	

}
.non-curser{
cursor:default;
}	
.glyphicon-ok-circle::before{
	color: green !important;
}
	
.glyphicon-remove-circle::before{
	color: red !important;
}	
.add_scroller{
height:450px;
overflow:auto;
}